:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    text-decoration: none;
    background-color: var(--white);
}

.logo {
    background-color: var(--cornflower);
    color: var(--iris);
    font-family: 'Raleway'sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-studio-base {
    font-family: 'Raleway'sans-serif;
    color: var(--navy-blue);
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link {
    color: var(--navy-blue);
}

.nav-link :hover {
    color: var(--ocean);
}

.nav-link :active {
    color: var(--ocean)
}

.base-address a {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--slate);
    text-decoration: none;
}